In [ ]:
import pandas as pd
import requests

In [12]:

# Natural Gas Production
gas_production_df = pd.read_csv("https://ourworldindata.org/grapher/gas-production-by-country.csv?v=1&csvType=filtered&useColumnShortNames=true&time=earliest..2024&country=~COL&overlay=download-data", storage_options = {'User-Agent': 'Our World In Data data fetch/1.0'})

# Natural Gas Consumption
gas_consumption_df = pd.read_csv("https://ourworldindata.org/grapher/gas-consumption-by-country.csv?v=1&csvType=filtered&useColumnShortNames=true&tab=line&country=~COL&mapSelect=~COL&overlay=download-data", storage_options = {'User-Agent': 'Our World In Data data fetch/1.0'})

# Energy Consumption by Source
source_consumtion_df = pd.read_csv("https://ourworldindata.org/grapher/primary-sub-energy-source.csv?v=1&csvType=filtered&useColumnShortNames=true&country=~COL&overlay=download-data", storage_options = {'User-Agent': 'Our World In Data data fetch/1.0'})

# Electricity Production by Sorce
source_production_df = pd.read_csv("https://ourworldindata.org/grapher/electricity-prod-source-stacked.csv?v=1&csvType=filtered&useColumnShortNames=true&country=~COL&overlay=download-data", storage_options = {'User-Agent': 'Our World In Data data fetch/1.0'})

In [13]:
gas_production_df.head()

     Entity Code  Year  gas_production__twh
0  Colombia  COL  1900                  0.0
1  Colombia  COL  1901                  0.0
2  Colombia  COL  1902                  0.0
3  Colombia  COL  1903                  0.0
4  Colombia  COL  1904                  0.0