In [21]:
import pandas as pd
import requests

In [ ]:

# Natural Gas Production
raw_gas_production_df = pd.read_csv("https://ourworldindata.org/grapher/gas-production-by-country.csv?v=1&csvType=filtered&useColumnShortNames=true&time=earliest..2024&country=~COL&overlay=download-data", storage_options = {'User-Agent': 'Our World In Data data fetch/1.0'})

# Natural Gas Consumption
raw_gas_consumption_df = pd.read_csv("https://ourworldindata.org/grapher/gas-consumption-by-country.csv?v=1&csvType=filtered&useColumnShortNames=true&tab=line&country=~COL&mapSelect=~COL&overlay=download-data", storage_options = {'User-Agent': 'Our World In Data data fetch/1.0'})

# Energy Consumption by Source
#raw_source_consumtion_df = pd.read_csv("https://ourworldindata.org/grapher/primary-sub-energy-source.csv?v=1&csvType=filtered&useColumnShortNames=true&country=~COL&overlay=download-data", storage_options = {'User-Agent': 'Our World In Data data fetch/1.0'})

# Electricity Production by Sorce
#raw_source_production_df = pd.read_csv("https://ourworldindata.org/grapher/electricity-prod-source-stacked.csv?v=1&csvType=filtered&useColumnShortNames=true&country=~COL&overlay=download-data", storage_options = {'User-Agent': 'Our World In Data data fetch/1.0'})

In [23]:
raw_gas_production_df

       Entity Code  Year  gas_production__twh
0    Colombia  COL  1900             0.000000
1    Colombia  COL  1901             0.000000
2    Colombia  COL  1902             0.000000
3    Colombia  COL  1903             0.000000
4    Colombia  COL  1904             0.000000
..        ...  ...   ...                  ...
120  Colombia  COL  2020           124.550316
121  Colombia  COL  2021           125.664420
122  Colombia  COL  2022           124.322790
123  Colombia  COL  2023           120.612000
124  Colombia  COL  2024           110.954440

[125 rows x 4 columns]

In [39]:
gas_production_df = raw_gas_production_df[raw_gas_production_df["Year"] >= 1965 ][["Year", "gas_production__twh"]].copy()
gas_consumption_df = raw_gas_consumption_df[raw_gas_consumption_df["Year"] >= 1965 ][["Year", "gas_consumption_twh"]].copy()

gas_balance = pd.merge(gas_production_df, gas_consumption_df, on="Year", how="outer")

In [40]:
gas_balance

    Year  gas_production__twh  gas_consumption_twh
0   1965            11.378318             8.951250
1   1966            13.802176             9.336250
2   1967            14.455236            11.550000
3   1968            15.233884            11.771375
4   1969            16.803740            12.854188
5   1970            12.493251            12.493251
6   1971            13.004500            13.004500
7   1972            15.885500            15.885250
8   1973            16.460000            16.460000
9   1974            17.125500            17.125750
10  1975            14.915750            16.142250
11  1976            15.148000            17.204500
12  1977            17.174751            19.254751
13  1978            22.808249            23.850752
14  1979            26.056002            25.721500
15  1980            27.844751            28.371500
16  1981            30.519000            30.634500
17  1982            32.536000            33.031250
18  1983            35.745502            36.559750
19  1984            36.340748            36.305750
20  1985            37.067500            36.432250
21  1986            36.126500            37.070747
22  1987            38.069252            37.636253
23  1988            36.710750            37.778250
24  1989            37.102500            36.059002
25  1990            39.246000            37.419500
26  1991            38.861500            38.582500
27  1992            39.809000            37.965748
28  1993            38.973750            39.416750
29  1994            40.204500            38.996502
30  1995            42.149000            41.472504
31  1996            45.468502            45.102753
32  1997            56.740000            56.740000
33  1998            64.895500            65.886250
34  1999            56.929000            56.909000
35  2000            57.358074            57.358074
36  2001            59.389930            59.389930
37  2002            59.986813            59.986813
38  2003            57.499798            57.499798
39  2004            61.348200            61.348200
40  2005            64.463440            64.463440
41  2006            67.646820            67.646820
42  2007            72.578840            71.616340
43  2008            87.188644            72.751144
44  2009           101.118195            83.793200
45  2010           108.433876            87.451380
46  2011           105.458466            85.149710
47  2012           115.256480            94.658980
48  2013           132.234760           104.772550
49  2014           123.328350           113.840614
50  2015           116.103160           112.117294
51  2016           119.921170           120.684780
52  2017           117.524760           118.305330
53  2018           123.763390           127.299385
54  2019           126.182200           128.707730
55  2020           124.550316           131.226780
56  2021           125.664420           126.266290
57  2022           124.322790           125.850360
58  2023           120.612000           130.544370
59  2024           110.954440           134.499340